$backgroundcolor: white;

p {
  @if $backgroundcolor == black{
    color: white;
  }
  @else {
    color: black;
  }
}

h1{
  font-size: calc(25 + (45 - 25) * ((100vh - 360px) / (1600 - 360))) !important
}
.headerRectangle{
  text-align: center;
  margin-top: 1vh;
}
.titles{
  padding: 2vh;
  font-family: 'Nunito', sans-serif;
}

.blogBox{
  background: #D3D3D3;
  display: block;
  width: 75%;
  height: 30vh;
  margin: auto;
  padding: 1vh;
  img{
    float: left;
    padding-left: 2vh;
    padding-top: 5vh;
    max-height: 25vh;
    max-width: 30%;
  }
  p{
    text-align: center;
    padding-top: 7vh;
    padding-right: 5vh;
  }
}

.small{
  width: 50%;
}

.ultimaEntradaBlog{
  padding: 2vh;
  margin-bottom: 2vh;
}
